<div class="bg-info contact4 overflow-hiddedn position-relative">
  <!-- Row  -->
  <div class="row no-gutters">
    <div class="container">
      <div class="col-lg-6 contact-box mb-4 mb-md-0">
          <h1 class="title font-weight-light text-white mt-2">Contact Us</h1>
          <form action="mailto:bido777adel@gmail.com" method="get" enctype="text/plain" >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input class="form-control text-white" type="text" placeholder="name" name="name">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input class="form-control text-white" type="email" placeholder="email address" name="mail">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <textarea class="form-control text-white" rows="3" placeholder="message" name="body" ></textarea>
                </div>
              </div>
              <div class="col-lg-12 d-flex  align-items-center mt-2">
                <button type="submit" value="Send" class="btn bg-white text-inverse px-3 py-2"><span> Submit</span></button>
                <span class="m-auto or">OR</span>
                <a href="/"><span class="ml-auto text-white align-self-center"><i class="fa fa-comments-o chat" aria-hidden="true" ></i>Live Chat</span></a>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="col-lg-6 right-image p-r-0 m-5 ">
      <iframe src="https://maps.google.com/maps?q=Information%20Technology%20Institute,%20Smart%20village,%20KM%2028,%20Al%20Giza%20Desert,%20Egypt&t=&z=13&ie=UTF8&iwloc=&output=embed"
        width="100%" height="538" frameborder="0" style="border:0" allowfullscreen data-aos="fade-left" data-aos-duration="3000"></iframe>
    </div>

  </div>

</div>
