<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-3">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>

            <input type="email" [(ngModel)]="mail" placeholder="Email">
            <input type="password" [(ngModel)]="password" placeholder="password">
            <input type="submit" value="sign-in"  (click)="onSubmit()">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</div> -->

<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>

            <input formControlName="email" type ="email" id="inputemail" class="form-control" placeholder="Email">
            <input formControlName="password"  type="password" id="password" class="form-control" placeholder="password">

            <button  class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>