
input[type="button"]{
  background-color: darkorange;
  color: white;
  width: 80px;
  height: 40px;
  margin-right: 5px;
}
input[type="text"]{
  height: 40px ;
  width: 102%;

}
.login,.sign{
   width:49%;
}
.login{
  margin-right: 1px;
}
.sign{
  margin-left: 2px;
}
